.slide-down-enter,
.slide-down-leave-to {
  transform: translate(0, px2rem(135));
}

.slide-down-enter-to,
.slide-down-leave,
.slide-up-enter-to,
.slide-up-leave {
  transform: translate(0, 0);
}

.slide-down-enter-active,
.slide-down-leave-active,
.slide-up-enter-active,
.slide-up-leave-active,
.popup-slide-enter-active,
.popup-slide-leave-active,
.slide-right-enter-active,
.slide-right-leave-active,
.fade-right-enter-active,
.fade-right-leave-active {
  transition: all 0.3s linear;
}

.slide-up-enter,
.slide-up-leave-to {
  transform: translate(0, -100%);
}

.popup-slide-enter,
.popup-slide-leave-to {
  transform: translate(0, 100%);
  opacity: 0;
}

.popup-slide-enter-to,
.popup-slide-leave {
  transform: translate(0, 0);
  opacity: 1;
}

.slide-right-enter,
.slide-right-leave-to {
  transform: translate(-100%, 0);
}

.slide-right-enter-to,
.slide-right-leave {
  transform: translate(0, 0);
}

.fade-right-enter,
.fade-right-leave-to {
  transform: translate(-100%, 0);
  opacity: 0;
}

.fade-right-enter-to,
.fade-right-leave {
  transform: translate(0, 0);
  opacity: 1;
}
